@use "../theme" as theme;
@use "../media" as media;
@use "./functions" as functions;

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin main-button {
  @include media.mobile {
    width: 100%;
    margin-top: 60px;
    border-radius: 2px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  color: theme.$branding-font-color;
  background-color: #2f323f;
  border: solid 1px #2f323f;
  border-radius: 8px;

  &:hover {
    color: #000;
    background-color: theme.$branding-font-color;
    border: solid 1px theme.$branding-font-color;
  }

  .customIcon {
    margin-right: 8px;
  }

  &:hover .customIcon {
    color: #000;
  }

  .text {
    font-size: 18px;
  }
}

@mixin menu-list-cell {
  width: 80%;
  padding: 20px;
  font-size: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  border-bottom: solid grey 1px;
}

@mixin z-index($key) {
  z-index: functions.z-index($key);
}
