@use "../theme" as theme;
@use "../media" as media;
@use "./functions" as functions;

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: theme.$spacing-extra-large;
  color: theme.$branding-color-primary;
  background-color: #2f323f;
  border: solid 1px #2f323f;
  border-radius: 8px;

  &:hover {
    color: #000;
    background-color: theme.$branding-color-primary;
    border: solid 1px theme.$branding-color-primary;
  }

  .customIcon {
    margin-right: 8px;
  }

  &:hover .customIcon {
    color: #000;
  }

  .text {
    font-size: 18px;
  }
}

@mixin menu-list-cell {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  border-bottom: solid grey 1px;
}

@mixin mail-button {
  @include flex-justify-center;

  width: 172px;
  height: theme.$spacing-extra-large;
  padding: 18px 35px;
  font-size: 18px;
  font-weight: theme.$font-weight-medium;
  line-height: 1.5;
  color: theme.$primary-background-color;
  background-color: theme.$branding-color-primary;
  border-radius: 10px;

  &:hover {
    background-color: theme.$font-color-primary;
  }
}

@mixin concert-list-button {
  flex: 0.5;
  padding: 10px;
  margin: 0 5px;
  color: theme.$font-color-primary;
  cursor: pointer;
  background-color: theme.$branding-color-primary;
  border: none;
  border-radius: 10px;

  @include media.mobile {
    width: 50%;
  }
}

@mixin z-index($key) {
  z-index: functions.z-index($key);
}

@mixin standard-page-title {
  font-size: 42px;
  font-weight: theme.$font-weight-extra-bold;
  line-height: 128%;
  letter-spacing: 0;

  @include media.tablet-wide {
    font-size: 26px;
  }
}

@mixin standard-page-subtitle {
  font-size: 32px;
  font-weight: theme.$font-weight-semibold;
  line-height: 128%;
  letter-spacing: 0;

  @include media.tablet-wide {
    font-size: 22px;
  }
}

@mixin standard-page-content {
  font-size: 18px;
  font-weight: theme.$font-weight-normal;
  line-height: 1.85;
  color: theme.$font-color-secondary;
  opacity: 0.8;

  @include media.tablet-wide {
    font-size: 16px;
    line-height: 1.45;
  }
}

@mixin background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

@mixin responsive-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}

@mixin user-select-none {
  user-select: none;
  -webkit-text-select: none;
}

@mixin typography-huge-extra-bold {
  font-size: theme.$font-size-huge;
  font-weight: theme.$font-weight-extra-bold;
  line-height: theme.$line-height-primary;
}

@mixin typography-semi-medium-normal {
  font-size: theme.$font-size-semi-medium;
  font-weight: theme.$font-weight-normal;
  line-height: theme.$line-height-primary;
}

@mixin typography-small-medium {
  font-size: theme.$font-size-small;
  font-weight: theme.$font-weight-medium;
  line-height: theme.$line-height-primary;
}

@mixin typography-semi-large-normal {
  font-size: theme.$font-size-semi-large;
  font-weight: theme.$font-weight-normal;
  line-height: theme.$line-height-primary;
}
