@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.footerWrapper {
  @include flex-horizontal-center;

  background-color: theme.$primary-background-color;

  .footer {
    @include media.mobile {
      width: 100%;
      height: auto;
    }

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 512px;
    background-color: theme.$primary-background-color;
  }

  .columnsContainer {
    @include media.mobile {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      height: auto;
      padding-top: 20px;
    }

    display: flex;
    gap: 120px;
    justify-content: center;
    height: 384px;
    padding-top: 80px;
  }

  .logoColumn {
    width: 226px;
  }

  .socialColumn {
    width: 164px;
  }

  .linkLegal {
    &:hover {
      color: theme.$branding-font-color;
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    .icons {
      display: flex;
      gap: 20px;
      justify-content: space-around;
    }

    .link {
      padding: 10px 0;

      .content {
        font-size: 16px;
        line-height: 1;
        color: #a8a8a8;

        &:hover {
          color: theme.$branding-font-color;
        }
      }
    }
  }

  .title {
    margin-bottom: 16px;
    font-family: theme.$main-font-family;
    font-weight: 600;
    text-transform: uppercase;
  }

  .logoContainer {
    @include media.mobile {
      justify-content: center;
      margin-bottom: 20px;
    }

    display: flex;
    margin-bottom: 40px;

    .logo {
      width: 66px;
      height: 66px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .text {
      .word {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .teaserText {
    color: #a8a8a8;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 128px;
    margin: auto;
  }

  .customIcon {
    color: theme.$branding-font-color;
  }
}
