@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.whatsAppButton {
  @include main-button;

  z-index: 5000;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
