@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.whatsAppButton {
  @include main-button;
  @include z-index(upperbannertext);

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
