$primary-font-color: #fff;
$primary-background-color: #202027;
$main-font-family: "arial", sans-serif;
$purchase-button-background: rgb(181 207 170);
$main-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
$light-box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
  0 1px 2px 0 rgb(0 0 0 / 12%);
$form-background: #f4f4f4;
$z-index: (
  sidebar-menu: 200,
  product-search-dropdow: 300,
  background: -1,
);
$min-vh-page-wrapper: 65vh;
$default-page-width: 80%;
