$border-color-dark-primary: #30343f;
$border-color-dark-secondary: #3b3e4b;
$border-color-light-primary: #8e8d8d;
$color-branding-primary: #ed068a;
$background-color-primary: #202027;
$background-color-secondary: #12141d;
$background-color-tertiary: #20232d;
$background-color-button-primary: #2f323f;
$box-shadow-primary: 0 3px 1px -2px rgb(0 0 0 / 20%),
  0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
$line-height-primary: 128%;
$font-family-primary: arial, sans-serif;
$font-color-primary: #fff;
$font-color-secondary: #ddd;
$font-color-dark: #000;
$font-color-light: #a8a8a8;
$font-color-medium: #606060;
$font-size-huge: 2.5rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.75rem;
$font-size-semi-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-semi-medium: 1.125rem;
$font-size-small: 1rem;
$font-size-smallest: 0.75rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$spacing-huge: 5rem;
$spacing-extra-large: 4rem;
$spacing-semi-extra-large: 3rem;
$spacing-large: 2.5rem;
$spacing-semi-large: 2rem;
$spacing-extra-regular: 1.75rem;
$spacing-regular: 1.5rem;
$spacing-semi-regular: 1.25rem;
$spacing-small: 1rem;
$spacing-semi-small: 0.75rem;
$spacing-smallest: 0.5rem;
$border-radius-large: 12px;
$border-radius-regular: 8px;
$border-radius-small: 4px;
$min-height-page: 65vh;
$width-desktop-page: 80%;
$width-mobile-page: 90%;
$width-card: 320px;
$opacity-primary: 0.8;
$opacity-secondary: 0.9;
$opacity-tertiary: 0.5;
$z-index-dropdown: 600;
$z-index-mobile-menu: 500;
$z-index-whatsapp-button: 400;
$z-index-upper-banner: 300;
$z-index-text-banner: 200;
$z-index-image-banner: 100;
