$font-color-primary: #fff;
$font-color-secondary: #ddd;
$font-color-footer: #a8a8a8;
$font-color-copyright: #606060;
$border-color-dark: #30343f;
$border-or-background-color-dark: #3b3e4b;
$branding-color-primary: #ed068a;
$primary-background-color: #202027;
$secondary-background-color: #12141d;
$option-row-background-color: #20232d;
$main-font-family: arial, sans-serif;
$main-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);

$line-height-primary: 128%;
$font-size-huge: 2.5rem;

$font-size-semi-title: 1.75rem;
$font-size-title-mobile: 1.5rem;
$font-size-subtitle: 1.5rem;
$font-size-subtitle-mobile: 1.25rem;
$font-size-large: 1.75rem;
$font-size-semi-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-semi-medium: 1.125rem;
$font-size-small: 1rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// SPACING

$spacing-huge: 5rem;
$spacing-extra-large: 4rem;
$spacing-large: 2.5rem;
$spacing-regular: 1.5rem;
$border-radius-small: 4px;
$min-vh-page-wrapper: 65vh;
$desktop-default-page-width: 80%;
$mobile-default-page-width: 90%;
$z-index: (
  homebannerimage: 100,
  homebannertext: 200,
  bannertext: 300,
  whatsappbuttonposition: 400,
  dropdownmenu: 500,
  mobilemenu: 600,
);
