@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.menuWrapper {
  @include flex-all-center;

  .menu {
    @include flex-column-all-center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 6000;
    width: 90%;
    width: 400px;
    background-color: theme.$option-row-background-color;

    // width: theme.$mobile-default-page-width;

    border: blue solid 2px;

    .listItem {
      @include menu-list-cell;

      height: 60px;
    }

    .listDropdownItem {
      @include menu-list-cell;

      height: auto;
    }

    .listDropdownLinkContent {
      @include menu-list-cell;

      height: auto;
      padding: 0 0 20px;
      border-bottom: 0;
    }
  }
}
