@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.menuWrapper {
  @include flex-all-center;

  .menu {
    @include flex-column-all-center;
    @include z-index(mobilemenu);

    position: fixed;
    top: 0;
    right: 0;
    width: theme.$mobile-default-page-width;
    width: 400px;
    background-color: theme.$option-row-background-color;

    .listItem {
      @include menu-list-cell;

      height: 60px;
    }

    .listDropdownItem {
      @include menu-list-cell;

      height: auto;
      padding: 0;
    }

    .listDropdownLinkContent {
      @include menu-list-cell;

      width: 100%;
      height: auto;
      border-bottom: 0;
    }

    .itemsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
