@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.navbarWrapper {
  @include flex-horizontal-center;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: theme.$primary-background-color;
  }

  .column {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
  }

  .link {
    position: relative;
    cursor: pointer;
  }

  .linkContent {
    font-family: theme.$main-font-family;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: #ed068a;
    }
  }

  .mailButton {
    display: flex;
    justify-content: center;
    width: 172px;
    height: 60px;
    padding: 18px 35px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: theme.$primary-background-color;
    background-color: theme.$branding-font-color;
    border-radius: 10px;

    &:hover {
      background-color: #fff;
    }
  }

  .menuDropdown {
    position: absolute;
    z-index: 500;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: theme.$secondary-background-color;
    border-radius: 8px;
    box-shadow: theme.$main-box-shadow;
  }
}
