@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.navbarWrapper {
  @include media.mobile {
    display: block;
    width: 100%;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202027;

  .menuWrapper {
    display: none;

    @include media.mobile {
      display: flex;
      flex-grow: 1;
      width: 100%;
    }
  }

  .navbar {
    @include media.mobile {
      width: 100%;
      height: 66px;
    }

    @include flex-vertical-center;

    justify-content: space-between;
    width: 70%;
    height: 100px;
    background-color: theme.$primary-background-color;

    .left {
      @include media.mobile {
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 20px 0 10px;
      }

      .menuIconWrapper {
        @include media.desktop {
          display: none;
        }

        @include media.tablet {
          display: none;
        }

        display: block;
        cursor: pointer;
      }
    }

    .right {
      @include media.mobile {
        display: none;
      }
    }

    .column {
      @include flex-vertical-center;

      gap: 40px;

      .reactLink {
        @include flex-vertical-center;
      }

      .logo {
        @include media.mobile {
          width: 46px;
          height: 46px;
        }

        width: 80px;
        height: 80px;
        cursor: pointer;
        border-radius: 50%;
      }

      .link {
        @include media.mobile {
          display: none;
        }

        position: relative;
        cursor: pointer;

        .linkContent {
          font-family: theme.$main-font-family;
          font-weight: 600;
          text-transform: uppercase;

          &:hover {
            color: #ed068a;
          }
        }
      }

      .mailButton {
        @include media.mobile {
          display: none;
        }

        @include flex-horizontal-center;

        width: 172px;
        height: 60px;
        padding: 18px 35px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: theme.$primary-background-color;
        background-color: theme.$branding-font-color;
        border-radius: 10px;

        &:hover {
          background-color: #fff;
        }
      }

      .menuDropdown {
        @include flex-column;
        @include z-index(upperbannertext);

        position: absolute;
        margin-top: 20px;
        background-color: theme.$secondary-background-color;
        border-radius: 8px;
        box-shadow: theme.$main-box-shadow;
      }
    }
  }
}
