@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.homeBanner {
  height: 600px;
  background-color: theme.$primary-background-color;

  @include flex-all-center;

  @include media.tablet-wide {
    height: 400px;
  }

  @include media.mobile {
    height: 240px;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;

  @include flex-all-center;
}

.hidden {
  opacity: 0;
}

.textBanner {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;

  @include z-index(homebannertext);

  .title {
    @include standard-page-title;
  }

  .subtitle {
    @include standard-page-content;
  }

  .subtitles {
    margin-top: theme.$spacing-regular;
  }

  @include media.mobile {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: theme.$border-radius-small;
  opacity: 0.5;
  object-fit: cover;

  @include z-index(homebannerimage);
}
