@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.coursesCardTeaserWrapper {
  width: 100%;

  @include flex-column-horizontal-center;

  .coursesCardTeaser {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: fit-content;
    background-color: theme.$primary-background-color;

    > div {
      flex: 0 1 calc(33.333% - 10px);
    }
  }
}

@include media.widescreen-down {
  .coursesCardTeaserWrapper .coursesCardTeaser > div {
    flex-basis: calc(50% - 10px);
  }
}

@include media.tablet-narrow {
  .coursesCardTeaserWrapper .coursesCardTeaser > div {
    flex-basis: 100%;
  }
}
