@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.courseCardWrapper {
  @include flex-horizontal-center;

  .courseCard {
    width: 372px;
    height: 524px;
    background-color: #20232d;
    border-radius: 24px;
  }

  .image {
    width: 100%;
    height: 268px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .infoColumn {
    height: 252px;
    color: #fff;
    background-color: #20232d;
    border-radius: 10px;
  }

  .descriptionAndLink {
    padding: 20px 30px 10px;
  }

  .category {
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 700;
  }

  .text {
    height: 60px;
    margin-bottom: 32px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 128%;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: #fff solid 1px;
    border-radius: 8px;

    &:hover {
      color: theme.$branding-font-color;
      border: theme.$branding-font-color solid 1px;
    }
  }
}
