@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.homePageWrapper {
  @include flex-justify-center;

  align-items: center;

  .homePage {
    @include flex-justify-center;

    flex-direction: column;
    width: 100%;

    .hidden {
      height: 100vh;
      background-color: theme.$primary-background-color;
      opacity: 0;
    }
  }

  .cardsSection {
    background-color: theme.$primary-background-color;

    .cardTeaserContainer {
      margin-bottom: theme.$spacing-extra-large;
      background-color: theme.$primary-background-color;
    }
  }

  .presentation {
    @include media.tablet-wide {
      width: 100%;
    }

    width: 38%;
    margin: auto;
    text-align: center;
    background-color: theme.$primary-background-color;

    .title {
      @include media.mobile {
        margin: 40px 0 20px;
      }

      @include media.tablet-wide {
        margin: 32px 0 16px;
      }

      margin: theme.$spacing-extra-large 0;
      font-size: 22px;
      font-weight: 600;
      color: theme.$branding-color-primary;
    }

    .subtitle {
      @include media.tablet-wide {
        padding: 0 20px;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0;
      }

      font-size: 42px;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 0;
    }

    .missionText {
      @include media.tablet-wide {
        padding: 0 20px;
        margin: 32px 0 40px;
        font-size: 16px;
        line-height: 1.45;
        color: rgb(221 221 221);
      }

      margin: theme.$spacing-extra-large 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.85;
      color: rgb(221 221 221);
    }
  }
}
