@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.homePageWrapper {
  @include flex-justify-center;

  .homePage {
    @include flex-justify-center;

    flex-direction: column;
    width: 100%;
  }

  .presentation {
    background-color: #20232d;
  }
}
