@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.homePageWrapper {
  @include flex-justify-center;

  align-items: center;

  .homePage {
    @include flex-justify-center;

    flex-direction: column;
    width: 100%;
  }

  .cardsSection {
    background-color: #202027;

    .cardTeaserContainer {
      margin-bottom: 60px;
      background-color: #202027;
    }
  }

  .presentation {
    width: 38%;
    margin: auto;
    text-align: center;
    background-color: #202027;

    .title {
      margin: 60px 0;
      font-size: 22px;
      font-weight: 600;
      color: theme.$branding-font-color;
    }

    .subtitle {
      font-size: 42px;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 0;
    }

    .missionText {
      margin: 60px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.85;
    }
  }
}
