@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.testemonialCarouselWrapper {
  @include flex-all-center;

  width: 100%;
  height: 780px;
  padding: 80px 20px 120px;
  background: theme.$secondary-background-color;

  .testemonialCarousel {
    @include flex-column-all-center;

    padding: 0 20px;

    .title {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      font-size: 42px;
      font-weight: 800 !important;
      line-height: 1.2;
      color: #fff;
      letter-spacing: 0;
    }

    background: theme.$secondary-background-color;

    .textAndImageContainer {
      @include flex-all-center;
    }
  }

  .image {
    width: 578px;
    height: 432px;
    border-radius: 16px;
  }

  .leftColumn {
    @include flex-column-horizontal-center;

    width: 522px;
    height: fit-content;
    margin-right: 60px;
  }

  .text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba($color: #fff, $alpha: 80%);
  }

  .testemonialPerson {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: theme.$branding-font-color;
  }

  .iconContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
  }

  .customIcon {
    color: theme.$branding-font-color;
  }
}
