@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.videoBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme.$primary-background-color;

  .videoWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-height: 100%;
    pointer-events: none;

    @include z-index(videobanner);

    .textBanner {
      position: absolute;
      top: 30%;
      left: 20%;

      .title {
        @include standard-page-title;
      }

      .subtitle {
        @include standard-page-content;
      }

      .subtitles {
        margin-top: theme.$spacing-regular;
      }

      @include media.mobile {
        display: none;
      }
    }

    .video {
      width: 100%;
      height: 100%;
      border-radius: theme.$border-radius-small;
    }
  }
}
