@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.videoBannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme.$primary-background-color;

  .videoBanner {
    @include media.mobile {
      display: block;
      height: 560px;
    }

    @include z-index(videobanner);

    position: relative;
    width: 100vw;
    height: 70vh;
    pointer-events: none;
  }

  .iframeVideo {
    width: 100%;
    height: 100%;
  }

  .videoWrapper {
    width: 872px;
    height: 485px;
  }
}
