@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.videoBannerWrapper {
  display: flex;
  justify-content: center;

  .videoBanner {
    @include media.mobile {
      display: block;
      height: 560px;
    }

    @include z-index(videobanner);

    position: relative;
    width: 100vw;
    height: 70vh;
    pointer-events: none;
  }

  .iframeVideo {
    width: 100%;
    height: 100%;
  }

  .borderDiv {
    @include media.mobile {
      display: none;
    }

    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    background-color: rgba($color: #000, $alpha: 72%);
    border-right: 19vw solid #000;
    border-left: 19vw solid #000;
  }

  .videoWrapper {
    width: 872px;
    height: 485px;
  }
}
