@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.wrapper {
  background-color: theme.$background-color-primary;

  @include media.mobile {
    position: relative;
  }

  @include flex-justify-center;
}

.copyright {
  @include flex-column-justify-center;

  width: 100%;
  height: auto;
  padding: 0 theme.$spacing-regular;
  margin: theme.$spacing-large 0 theme.$spacing-huge;
  color: theme.$font-color-medium;
  text-align: center;

  @include typography-small-medium;

  span {
    margin-bottom: theme.$spacing-large;

    @include media.widescreen {
      margin-bottom: theme.$spacing-large;
    }
  }
}

.container {
  width: theme.$width-desktop-page;
  background-color: theme.$background-color-primary;

  @include flex-column;

  @include media.tablet-narrow {
    width: 100%;
    height: auto;
  }
}

.columns {
  gap: 100px;
  height: 384px;
  padding-top: theme.$spacing-huge;

  @include flex-justify-center;

  @include media.mobile {
    height: auto;
    padding-top: theme.$spacing-semi-extra-large;
    text-align: center;

    @include flex-column-align-center;
  }

  @include media.tablet-wide {
    gap: 20px;
    height: auto;
    padding-top: theme.$spacing-semi-extra-large;
    text-align: center;

    @include flex-column-align-center;
  }
}

.column {
  @include flex-column;

  @include media.mobile {
    width: theme.$width-mobile-page;
  }

  .link {
    padding: theme.$spacing-smallest 0;

    .content {
      font-size: theme.$font-size-small;
      line-height: 1;
      color: theme.$font-color-light;

      &:hover {
        color: theme.$color-branding-primary;
      }
    }
  }

  .title {
    margin-bottom: theme.$spacing-small;

    @include typography-small-semibold;
  }

  .icons {
    @include media.mobile {
      gap: 30px;
      width: fit-content;
      margin: auto;
    }

    display: flex;
    gap: 40px;
    justify-content: space-around;

    svg {
      color: theme.$color-branding-primary;
    }
  }
}

.socialColumn {
  width: 164px;

  .title {
    @include media.mobile {
      margin-bottom: theme.$spacing-regular;
    }
  }
}

.logoColumn {
  @include media.tablet-wide {
    width: 90%;
    margin-bottom: 0.25rem;
  }

  .paragraph {
    @include media.desktop-up {
      max-width: 160px;
    }

    color: theme.$font-color-light;
  }

  .logoContainer {
    @include media.tablet-wide {
      @include flex-all-center;

      margin-bottom: theme.$spacing-large;
    }

    display: flex;
    margin-bottom: theme.$spacing-large;

    .logo {
      width: 66px;
      height: 66px;
      margin-right: theme.$spacing-smallest;
      border-radius: 50%;
    }

    .name {
      @include flex-column;

      span {
        @include typography-medium-semibold;
      }
    }
  }
}
