@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.list {
  @include options-list;

  @include media.tablet-narrow {
    background-color: theme.$border-color-dark-secondary;
  }

  .listItem {
    @include options-item;
  }

  .listItem:last-child {
    border-bottom: none;
  }

  .title {
    font-weight: theme.$font-weight-semibold;
  }
}
