@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.aboutPageWrapper {
  @include flex-horizontal-center;

  .aboutPage {
    width: 100%;
    min-height: theme.$min-vh-page-wrapper;
    background-color: theme.$secondary-background-color;
    scroll-behavior: smooth;

    .upperBanner {
      @include media.mobile {
        height: auto;
      }

      position: relative;

      @include flex-all-center;

      width: 100%;
      height: 660px;

      .imageForBigScreen {
        @include media.mobile {
          display: none;
        }
      }

      .imageForMobileScreen {
        display: none;

        @include media.mobile {
          display: flex;
        }
      }

      .upperBannerText {
        @include z-index(upperbannertext);

        @include media.mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 84%;
          padding-top: 30px;
          padding-bottom: 30px;
          margin: 40px 0;
        }

        width: 1200px;
        padding-top: 150px;
        padding-bottom: 150px;

        .title {
          @include media.mobile {
            width: 100%;
            margin-bottom: 60px;
            font-size: 28px;
          }

          margin-bottom: 40px;
          font-size: 48px;
          font-weight: 800;
          line-height: 1.2;
          opacity: 0.8;
        }

        .content {
          @include media.mobile {
            width: 100%;
            font-size: 16px;
            line-height: 1.45;
          }

          width: 50%;
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.85;
          color: #ddd;
          opacity: 0.6;
        }
      }
    }

    .linksRow {
      @include media.mobile {
        min-width: 100%;
        height: 90px;
      }

      @include flex-horizontal-center;

      min-width: 1200px;
      height: 86px;
      background-color: theme.$option-row-background-color;

      ul {
        @include media.mobile {
          gap: 20px;
          width: 100%;
          padding: 0 20px;
        }

        @include flex-all-center;

        gap: 40px;
        width: 1200px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;

        .listItem {
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .educationSection {
      @include flex-column-horizontal-center;

      width: 100%;
      margin: 80px 0;
      background-color: theme.$secondary-background-color;

      .imageContainer {
        @include flex-horizontal-center;

        position: relative;
        width: 54%;
        margin-bottom: 80px;

        .imageEducation {
          width: 100%;
          border-radius: 24px;
          opacity: 0.5;
        }

        .textLayer {
          @include flex-all-center;

          position: absolute;
          right: 0;
          bottom: -20px;
          width: 620px;
          height: 180px;
          background: #20232d;
          border-radius: 10px;

          .text {
            width: 80%;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.85;
            color: #ddd;
            opacity: 0.9;
          }
        }
      }

      .logoAndTextContainer {
        @include media.mobile {
          width: 100%;
          height: auto;
        }

        @include flex-vertical-center;

        width: 54%;
        height: 300px;

        .logoAboveText {
          display: flex;
          flex-direction: column;
          width: 30%;

          .logo {
            width: fit-content;
            height: 82px;
            border-radius: 50%;
          }

          .text {
            font-size: 32px;
            font-weight: 800;
            line-height: 1.4;
          }
        }

        .longText {
          width: 66%;
          padding-right: 120px;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.85;
          color: #ddd;
          opacity: 0.9;

          .paragraphs {
            font-size: 18px;
          }
        }
      }
    }

    .philosophySection {
      @include flex-horizontal-center;

      width: 100%;
      margin-bottom: 60px;

      .imageAndTextPhilosophyContainer {
        position: relative;
        width: 100%;
      }

      .imagePhilosophy {
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }

      .philosophyText {
        position: absolute;
        top: 38%;

        @include flex-horizontal-center;

        .columnLeft {
          width: 20%;

          .textTop {
            margin-bottom: 40px;
            font-size: 42px;
            font-weight: 800;
            line-height: 1.2;
            letter-spacing: 0;
          }

          .textBottom {
            width: 80%;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.85;
            color: #ddd;
          }
        }

        .columnRight {
          width: 32%;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.85;
          color: #ddd;
        }
      }
    }

    .founderSection {
      @include flex-horizontal-center;

      width: 100%;
      margin: 92px 0 80px;

      .presentation {
        @include flex-all-center;

        gap: 120px;
        width: 60%;

        .imageContaier {
          display: flex;
          width: 490px;
          height: 560px;

          .image {
            width: 100%;
          }
        }

        .textAndIcons {
          width: 46%;

          .name {
            font-size: 42px;
            font-weight: 800;
            line-height: 1.2;
            letter-spacing: 0;
          }

          p {
            width: 80%;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.85;
            color: #ddd;
          }

          .position {
            margin-bottom: 40px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.85;
            color: #ddd;
          }

          .socialIcons {
            @include flex-horizontal-center;

            flex-direction: column;
            width: 100%;
            margin-top: 40px;

            .text {
              margin-bottom: 24px;
              color: theme.$branding-font-color;
            }

            .customIcon {
              color: theme.$branding-font-color;
            }

            .icons {
              display: flex;
              gap: 20px;
              justify-content: space-around;
            }

            .row {
              display: flex;
              gap: 28px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
