@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.pageNotFoundWrapper {
  display: flex;
  justify-content: center;
  height: theme.$min-vh-page-wrapper;
  background-color: theme.$secondary-background-color;

  .pageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .httpErrorNumber {
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
  }

  .httpErrorText {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
  }

  .text {
    width: 760px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    color: #ddd;
    text-align: center;
  }
}
