@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.educationSection {
  margin: 60px;
  background-color: theme.$secondary-background-color;

  @include media.tablet-wide {
    margin: 0;
  }

  @include flex-column-align-center;
}

.philosophySection {
  position: relative;
  width: 100%;
  min-height: 300px;
}
