@use "#styles/media" as media;
@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.languageDropdownMenuWrapper {
  @include z-index(dropdownmenu);

  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all 2s linear;

  .listItem {
    @include media.mobile {
      font-weight: 400;
      border-bottom: 1px solid #30343f;
    }

    padding: 14px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #3b3e4b;

    &:hover {
      color: theme.$branding-color-primary;
    }
  }

  .listItem:last-child {
    border-bottom: none;
  }

  @include media.tablet-narrow {
    background-color: #3b3e4b;
  }

  @include media.mobile {
    border: none;
  }

  .activeCategory {
    color: theme.$branding-color-primary;
  }

  .linkContent {
    cursor: pointer;
  }
}
