@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.dropdownMenu {
  color: theme.$font-color-primary;
  transition: all 2s linear;

  @include media.tablet-narrow {
    background-color: theme.$border-or-background-color-dark;
  }

  @include flex-column;

  @include z-index(dropdownmenu);

  .listItem {
    @include media.mobile {
      font-weight: 400;
      border-bottom: 1px solid theme.$border-color-dark;
    }

    padding: 14px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: theme.$font-color-primary;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid theme.$border-or-background-color-dark;

    &:hover {
      color: theme.$branding-color-primary;
    }
  }

  .listItem:last-child {
    border-bottom: none;
  }
}
