@use "#styles/theme" as theme;

.appRoutesWrapper {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    min-height: theme.$min-vh-page-wrapper;
  }

  .whatsappButtonPosition {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 500;
    transform: rotate(90deg) translateY(-156%);
  }
}
