@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.coursesPageWrapper {
  .hiddeMobile {
    @include media.tablet-narrow {
      display: none;
    }
  }

  .coursesPage {
    width: 100%;
    min-height: theme.$min-vh-page-wrapper;
    background-color: theme.$secondary-background-color;
    scroll-behavior: smooth;
  }
}
