@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.educationSection {
  margin: 60px;
  background-color: theme.$secondary-background-color;

  @include media.tablet-wide {
    margin: 0;
  }

  @include flex-column-align-center;
}

.logoAndTextContainer {
  width: 80%;

  @include media.widescreen {
    width: 70%;
  }

  @include media.desktop {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: theme.$spacing-large;
  }

  @include media.mobile {
    margin-bottom: theme.$spacing-regular;
  }

  @include flex-align-center;

  .logoAboveText {
    @include media.tablet-wide {
      width: theme.$mobile-default-page-width;
      margin: auto;
    }

    width: 90%;
    padding-right: 2%;

    @include flex-column;

    .logo {
      width: 82px;
      height: 82px;
      border-radius: 50%;
    }

    .text {
      @include media.mobile {
        margin-top: 20px;
      }

      @include standard-page-title;
    }
  }

  .paragraphsContainer {
    width: 66%;
    padding-right: theme.$spacing-large;
    padding-left: theme.$spacing-large;

    @include media.desktop {
      width: theme.$mobile-default-page-width;
      padding-right: 0;
      padding-left: 0;
      margin-top: 40px;
    }

    .paragraphs {
      @include standard-page-content;
    }
  }
}
